p.justify-align {
    text-align: justify;
}

h4.animeName {
    margin-top: 0;
}

video {
    position: fixed; /*  absolute ou fixed */
    width: 100%;
    z-index: 20;
    height: 100%;
    left: 0px;
    top: 0px;
  }

 .m5 {
    margin-top: 1rem;
}

.m10 {
    margin-top: 2rem;
}